.container_add_to_calendar {
  position: fixed;
  display: flex;
  justify-content: right;
  align-items: center;
  height: 10%;
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.38);
  padding: 8px 16px;
}

.button_add_to_calendar {
  margin-right: 15px;
  font-size: 1rem;
  padding: 8px 16px;
  border-radius: 8px;
}

/* --- Адаптив --- */
@media (max-width: 900px) {
  .container_add_to_calendar {
    padding: 6px 8px;
    height: 8%;
  }

  .button_add_to_calendar {
    font-size: 0.9rem;
    padding: 6px 10px;
  }
}

@media (max-width: 600px) {
  .container_add_to_calendar {
    padding: 2px 2vw;
    height: 7%;
    width: 58%;
    /* display: flex;
    justify-content: right;
    align-items: center; */
    margin-top: 10px;
    width: 100%;
  }

  .button_add_to_calendar {
    font-size: 0.8rem;
    padding: 4px 6px;
    margin-right: 4px;
  }
}